@charset 'UTF-8';

/*********************************************************************************/
/* FONTS                                                           */
/*********************************************************************************/

@font-face{font-family:'FontAwesome';src:url('font/fontawesome-webfont.eot?v=4.0.1');src:url('font/fontawesome-webfont.eot?#iefix&v=4.0.1') format('embedded-opentype'),url('font/fontawesome-webfont.woff?v=4.0.1') format('woff'),url('font/fontawesome-webfont.ttf?v=4.0.1') format('truetype'),url('font/fontawesome-webfont.svg?v=4.0.1#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}
		
/*********************************************************************************/
/* BASIC                                                           */
/*********************************************************************************/
body {
	margin: 0;
	padding: 0;
	background: #FFEBD4;
}

body, input, textarea, select {
	font-family:'Playfair Display', serif;
	font-size: 11pt;
	font-weight: 300;
	line-height: 1.75em;
	color: black;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	color: #777;
}
	
	h2 {
		letter-spacing: -0.025em;
	}

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		color: inherit;
		text-decoration: none;
	}
		
	strong, b {
		font-weight: 500;
		color: #000000;
	}
	
	em, i {
		font-style: italic;
	}

	a {
		text-decoration: none;
		color: #80BA8E;
	}
	
	a:hover	{
		text-decoration: underline;
	}

	sub	{
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}
	
	sup {
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	} 
	
	hr {
		border: 0;
		border-top: solid 1px #ddd;
		margin: 6em 0 0 0;
		padding: 6em 0 0 0;
	}
	
	blockquote {
		border-left: solid 0.5em #ddd;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}
	
	p, ul, ol, dl, table {
		margin-bottom: 1em;
	}

/* -------------------------------------------------------------- */
/* Maquetado del formulario (Nota: las siguientes etiquetas lo mismo desaparecen) */
/* -------------------------------------------------------------- */
form {
	width: 100%;
	/* max-width: 100em; */
	margin: .25em;
}

input[type="email"], input[type="text"], textarea {
	padding: .25em;
	width: 100%;
	border-radius: .25em;
	font-family: "chalet";
	font-size: 1em;
	background: $textbox-background; /* background: #eee; */
	color: $textbox-color; /* color: #f60; */
}

input[type="email"]:focus, input[type="text"]:focus, textarea:focus {
	background: $textbox-focus; /* background: #c6ecf9; */
}

input[type="submit"] {	
	border-radius: 0 .25em;
	font-family: "chalet";
	font-size: 1.25em;
	background: $botton-background; /* background: #024959; #f90; */
	color: $botton-color; /* color: #fff; */
}

input[type="submit"]:hover {
	border-radius: .25em 0;
	cursor: pointer;
	background: $botton-hover; /* background: #037e8c; #7bbfd5; */
	/* color: #fff; /*
	color: #000; */
}

label {
	cursor: pointer;
	color: $label-color;
}

legend {
	font-size: 1.2em;
	font-weight: bold;
	color: $legend-color;
}

textarea {
	resize: none;
}

section {
    padding: 0em;
    margin: 0em auto;
    /* text-align: right; */
	background: $color-blanco;
}

/*********************************************************************************/
/* HEADER                                                           */
/*********************************************************************************/
	.container{
		width: 100%;
		max-width: 100%;
	}



	#header {
		position: relative;
		background: url() no-repeat bottom center;
		background-attachment: fixed;
		background-size: cover;
		text-align: left;
	}

		.header	{
	
		background:url('https://png.pngtree.com/thumb_back/fh260/back_pic/00/14/52/9856604197ccc25.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		height: 115px;
		-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
			

	}

/*********************************************************************************/
/* LOGO                                                                         */
/*********************************************************************************/

	#logo{
			
		float: left;
		padding-left: 50px;
		padding-top: 18px;
			
	}
	
		#logo h1{
			color: black;
			font-weight: bold;

	}
	
		#logo a{
			display: block;
			text-decoration: none;
			font-size: 30px;
			color: black;
	}
		#logo a:hover{
			
			color: white;
			transition: .25s
	}

		#logo > h1 > a > img {

			width: 25px;
			height: 25px;
		}

		#logo p{

			color: black;
			font-weight: bold;
			font-size: 20px;
			line-height: 0;

		}


/*********************************************************************************/
/* MENU                                                                   */
/*********************************************************************************/

		#nav-wrapper{
			
			width: 100%;
		}

		#nav > ul{
			
			float: right;
			padding-top: 25px;
		}

		#nav > ul > li{
			
			display: inline-block;
			border-right: 1px solid;
			border-color: black;
		}
		

		#nav > ul > li > a,
		#nav > ul > li > span{
				
			display: inline-block;
			padding: 1.5em 1.5em;
			letter-spacing: 0.06em;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 15px;
			outline: 0;
			color: white;
			font-weight: bold;
			text-shadow: -1px 0 #0e7a0e, 1px 0 #0e7a0e, 0 1px #0e7a0e, 0 -1px #0e7a0e;


		}

		#nav > ul > li > a:hover{

			color:black;
			transition: .25s
			
		}
			
/*********************************************************************************/
/* SLOGAN                                                               */
/*********************************************************************************/

	.slogan{

		width: 100%;
		max-width: 100%;
		height: 500px;

	}

		#nombre_slogan{

			text-align: center;
			padding-top: 100px;
	}
	
		#nombre_slogan h1{

			font-size: 70px;
			opacity: 0.8;
			color: #FFF0DF; 
			width: 100%;
			text-align: center;
				
	}

		#nombre_slogan h5{

			opacity: 0.8;
			color: #FFF0DF; 
			text-shadow: 0px 0px 10px black;
			font-size: 40px;
			line-height: 0;
		
	}


/*********************************************************************************/
/* CUERPO PRINCIPAL - (PREESLOGAN)                                                         */
/*********************************************************************************/

#slogan h1{  

	text-align: center;
	color:#725028;
	text-shadow: 5px 5px 5px #aaa;
	font-family:'Playfair Display', serif;
	padding-top: 50px;

}


#slogan p{

	text-align: center;
	font-weight: bold;
	font-family:'Playfair Display', serif;	
}



/*********************************************************************************/
/* PRESTACIONES                                                       */
/*********************************************************************************/


#prestaciones {

	margin-left: 30px;
	margin-right: 50px;
}

#prestaciones h3 {

	font-size: 30px;
	text-align: center;
}

#prestaciones i {

	font-size: 20px;
}

#prestaciones p {

	text-align: center;
}

.button.button-primary{

	background-color: grey;
	border-color: black;
	color:white;
	margin-top: 70px;
	margin-left: 100px;


}

.button.button-primary:hover{

	background-color: #FFC989;
	border-color: black;
	transition-duration: .25s;
	
}

.u-full-width{

	padding-top: 200px;

}




/*********************************************************************************/
/* PRODUCTO                                                      				 */
/*********************************************************************************/

#principal-body {
	overflow: auto;
	padding-left: .5em;
	padding-right: .5em;
	padding-top: 50px;
}

#principal-body h3, #principal-body p {
	text-align: center;
	color:black;

}

#productos{

	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 20px;
	padding-right: 20px;
}


.producto {
	background-color: #DFE2FE;
	padding-left: .5em;
	padding-right: .5em;
	padding-top: 20px;
	-webkit-box-shadow: 10px 10px 5px -5px rgba(156,156,156,1);
	-moz-box-shadow: 10px 10px 5px -5px rgba(156,156,156,1);
	box-shadow: 10px 10px 5px -5px rgba(156,156,156,1);

}

.producto > h5 {
	text-align: center;
	color: black;
}

.producto > div {
	margin-left: 0;
	margin-right: 0;
	padding-left: 10px;
	padding-right: 10px;

}

.img-producto, .desc-producto {
	margin-left: .5em;
	margin-right: .5em;

}

.img-producto {
	box-sizing: border-box;
	width: 33%;


}

.img-producto > img {
	width: 100%;
}

.desc-producto {
	text-align: justify;
}

#formulario {
	margin-top: 5em;
	margin-bottom: 5em;
	margin-left: 15em;
	margin-right: 15em;
}

#botones > div > button {
	margin: 0 auto;
}

#enviar i, #limpiar i {
	font-size: 14px;
}

#limpiar:hover {
	background-color: red;
	color: white;
	transition: .5s;
}

/*********************************************************************************/
/* ABOUT                                                           */
/*********************************************************************************/

.aboutpage{

	background-image: url('../img/textura_gris.jpg');
	
}


.textoabout{
	margin: 0 auto;
	width: 100%;
	height: 800px;

}

.titulo h2{

	text-align: center;
	color:white;
}

.cabeceraAbout{
	background-image: url('../img/equipo.jpg');
	width: 100%;
	max-width: 100%;
	height: 500px;
	margin-top: 5px;
	background-size: cover;
	-webkit-box-shadow: -1px 8px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 8px 5px -3px rgba(0,0,0,0.75);
    box-shadow: -1px 8px 5px -3px rgba(0,0,0,0.75);
}
.cabeceraAbout > h1{
	
	text-align: left;
	padding-top: 100px;
	padding-left: 40px;
	font-size: 70px;
	text-shadow: 0px 0px 10px black;
	color: white;
}	

.cabeceraAbout > p{
	
	text-align: left;
	padding-left: 50px;
	font-size: 30px;
	text-shadow: 0px 0px 10px black;
	color: white;
}	

.containerAbout{
	padding-top: 50px;
	margin: 0 auto;
	margin-top: 20px;
	width: 70%;	
	background-color: #F4F6F6;
	-webkit-box-shadow: 10px 10px 5px -5px rgba(156,156,156,1);
	-moz-box-shadow: 10px 10px 5px -5px rgba(156,156,156,1);
	box-shadow: 10px 10px 5px -5px rgba(156,156,156,1);
}
.row{
	margin-left: 100px;

}

.imagen > figure > p > img{
	width: 200px;
	height: 220px;
	border-radius: 15%;
	
}

.texto > p{
	width: 80%;
	height: 220px;
	text-align: justify;
}

.texto2 > h2{
	
	text-align: right;
	
}	

.texto2 > p{
	width: 100%;
	height: 220px;
	text-align: justify;
	
}	

.imagen2 > figure > p > img{
	width: 190px;
	height: 220px;
}

.imghvr-push-up {
	text-align: center;

}

.imghvr-push-up a{
	text-align: center;
	margin-top: 190px;
	text-decoration: none;
	color:black;
}
.imghvr-push-up a:hover{
	color:white;	
}


.social-icons > a{
	margin-right: 5px;
}


.social-icons a i{

	font-size: 25px;
	color:#35A2A2;
	padding-right: 10px;
}

.social-icons a i:hover{

	color:#FF7108;
	transition: .25s;

}

/*********************************************************************************/
/* GALERIA                                                     				     */
/*********************************************************************************/

.galerypage{
	background-image: url('../img/textura_galery.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	
}


.cabeceraGalery{
	background-image: url('../img/galeria_fondo.jpg');
	width: 100%;
	max-width: 100%;
	height: 500px;
	margin-top: 5px;
	background-size: cover;
	-webkit-box-shadow: -1px 8px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 8px 5px -3px rgba(0,0,0,0.75);
    box-shadow: -1px 8px 5px -3px rgba(0,0,0,0.75);
}

.cabeceraGalery h1{
	text-align: center;
	padding-top: 100px;
	color:white;
	line-height: 0;
	font-size: 60px;

}

.textoGalery{
	padding-top: 50px;
}
.textoGalery h3, p{
	text-align: center;
	color:#725028;

}
.textoGalery p{
	font-size: 18px;


}

.galeria {
  width: 90%;
  margin: auto;
  list-style: none;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.galeria li {
  margin: 5px;

}

.galeria img {
	margin-top: 20px;
  	width: 190px;
  	height: 130px;
  	border-radius: 15px;
  	border:1px solid white;
  	-webkit-box-shadow: 4px 7px 24px 0px rgba(168,168,168,1);
-moz-box-shadow: 4px 7px 24px 0px rgba(168,168,168,1);
box-shadow: 4px 7px 24px 0px rgba(168,168,168,1);
}

.zoom{
        /* Aumentamos la anchura y altura durante 1 segundos */
        transition: width 1s, height 1s, transform 1s;
        -moz-transition: width 1s, height 1s, -moz-transform 1s;
        -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
        -o-transition: width 1s, height 1s,-o-transform 1s;
    }
.zoom:hover{
        /* tranformamos el elemento al pasar el mouse por encima al doble de
           su tamaño con scale(1.5). */
        transform : scale(1.5);
        -moz-transform : scale(1.5);      /* Firefox */
        -webkit-transform : scale(1.5);   /* Chrome - Safari */
        -o-transform : scale(1.5);        /* Opera */

    }

    
/*Estilos del modal*/

.modal {
  display: none;
}

.modal:target {
  
  display: block;
  position: fixed;
  background: rgba(0,0,0,0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal h3 {
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin: 15px 0;
}

.imagen_gal {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen_gal a {
  color: #FF8000;
  font-size: 40px;
  text-decoration: none;
  margin: 0 10px;
}

.imagen_gal a:nth-child(2) {
  margin: 0;
  height: 100%;
  flex-shrink: 2;
}

.imagen_gal img {
  width: 500px;
  height: 100%;
  max-width: 100%;
  border: 7px solid #FF8000;
  box-sizing: border-box;
}



.cerrar {
  display: block;
  background: #fff;
  width: 25px;
  height: 25px;
  margin: 15px auto;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  color: black;
  padding: 5px;
  border-radius: 50%;
  line-height: 25px;
}

.cerrar:hover {
	text-decoration: none;
	color:red;
}


/*********************************************************************************/
/* BOTON-TOP                                                     				 */
/*********************************************************************************/
.boton-top {
  text-align: center;

	
}


.gototop {

	width:40px;
	height:40px;
	border:2px solid #746c75;
	padding: 5px;

	
}

.gototop i {
	color:#817a82;
	line-height:40px;
}


/*********************************************************************************/
/* FOOTER                                                   					 */
/*********************************************************************************/

#footer
	{
		clear: both;
		text-align: center;
		background:url('https://png.pngtree.com/thumb_back/fh260/back_pic/00/14/52/9856604197ccc25.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 240px;
		-webkit-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
		box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
	}
.container h2{
	font-size: 40px;
	color: white;
}
.container > section > header > span{
	font-size: 25px;
	color: white;
}
.pie > h3{
	color: white;
	font-size: 30px;
	font-weight: bold;
	text-shadow: 0px 0px 10px #FFC469;
}
.pie > p{
	color: white;
	font-weight: bold;
	text-shadow: 0px 0px 10px black;;
}
.pie > p > a{
	color: #2E2EFE;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px 0px 10px #00FF00;
}
.pie{
	padding-top: 50px;
}

.copyright{

	text-align: center;
	padding-top: 80px;
}
/*********************************************************************************/
/* ICONOS FOOTER                                                          		 */
/*********************************************************************************/
	  .contact{
		clear: both;
		padding-top: 50px;
	}

	ul.contact{
		padding: 1.5em 0 0 0;
		list-style: none;
		cursor: default;
	}
	
	ul.contact li
	{
		display: inline-block;
		margin: 0 1em;
	}
	
	ul.contact li a
	{
		color: inherit;
		font-size: 1.75em;
		display: inline-block;
		-moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-ms-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		color: white;
	}

	
	ul.contact li a:hover
	{
		color: #00FFFF;
	}
	ul.contact li a{
		text-decoration: none;
	}
.free{
  border: 0.5px solid #BDBDBD;
  width: 300px;
  margin-right: 20px;
  background-color: #F2F2F2;
  text-align: center;
  }
.pro{
  border: 0.5px solid #BDBDBD;
  width: 300px;
  margin-right: 20px;
  background-color: #F2F2F2;
  text-align: center;
  } 
.copyright{
	font-size: 20px;
	color: white;
}

/*********************************************************************************/
/* MEDIA QUERIES                                                         */
/*********************************************************************************/

/* Larger than mobile */
@media (max-width: 399px) {
	#nombre_slogan {
		display: none;
	}


	.img-producto {
		width: auto;
	}

	#formulario {
		padding: 1em;
		margin: 0 auto;
	}
	
	#botones {
		
	}

	#enviar, #limpiar {
  width: 100%;
  box-sizing: border-box; 
	}
}

@media (min-width: 400px) {
	.container {
		width: auto;
	}

	.img-producto {
		margin-right: 1em;
	}

	#formulario {
		padding: 1em;
		margin: 0 auto;
	}
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
	#productos {

	}

	.producto {
		height: 100%;
	}

	.img-producto {
		width: 100%;
	}

	.desc-producto {
		width: 100%;
	}
}

/* Larger than tablet */
@media (min-width: 750px) {
	#formulario {
		padding: 1em;
		max-width: 750px;
	}
}

/* Larger than desktop */
@media (min-width: 1000px) {

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {

}


/*********************************************************************************/
/* CONTACTO-STYLE                                                   		 */
/*********************************************************************************/

.contactpage{
	background-color: #F8F8F8;
	
}

#nombre_slogan h4 {
background: #000000;
-webkit-background-clip: text;
-moz-background-clip: text;
background-clip: text;
color: transparent;
text-shadow: 0px 3px 3px rgba(255,255,255,0.5),0px -1px 1px rgba(0,0,0,.3);
font-size: 70px;

	}

#nombre_slogan h6 {
background: #000000;
-webkit-background-clip: text;
-moz-background-clip: text;
background-clip: text;
color: transparent;
text-shadow: 0px 3px 3px rgba(255,255,255,0.5),0px -1px 1px rgba(0,0,0,.3);
font-size: 50px;

	}

#nombre_slogan p i{
background: #000000;
-webkit-background-clip: text;
-moz-background-clip: text;
background-clip: text;
color: transparent;
text-shadow: 0px 3px 3px rgba(255,255,255,0.5),0px -1px 1px rgba(0,0,0,.3);
font-size: 50px;

	}



