@charset 'UTF-8';

/*********************************************************************************/
/* FONTS                                                           */
/*********************************************************************************/

@font-face{font-family:'FontAwesome';src:url('font/fontawesome-webfont.eot?v=4.0.1');src:url('font/fontawesome-webfont.eot?#iefix&v=4.0.1') format('embedded-opentype'),url('font/fontawesome-webfont.woff?v=4.0.1') format('woff'),url('font/fontawesome-webfont.ttf?v=4.0.1') format('truetype'),url('font/fontawesome-webfont.svg?v=4.0.1#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}
		
/*********************************************************************************/
/* BASIC                                                           */
/*********************************************************************************/
body {
	margin: 0;
	padding: 0;
	background: #FFEBD4;
}

body, input, textarea, select {
	font-family:'Playfair Display', serif;
	font-size: 11pt;
	font-weight: 300;
	line-height: 1.75em;
	color: black;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	color: #777;
}
	
	h2 {
		letter-spacing: -0.025em;
	}

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		color: inherit;
		text-decoration: none;
	}
		
	strong, b {
		font-weight: 500;
		color: #000000;
	}
	
	em, i {
		font-style: italic;
	}

	a {
		text-decoration: none;
		color: #80BA8E;
	}
	
	a:hover	{
		text-decoration: underline;
	}

	sub	{
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}
	
	sup {
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	} 
	
	hr {
		border: 0;
		border-top: solid 1px #ddd;
		margin: 6em 0 0 0;
		padding: 6em 0 0 0;
	}
	
	blockquote {
		border-left: solid 0.5em #ddd;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}
	
	p, ul, ol, dl, table {
		margin-bottom: 1em;
	}

/*********************************************************************************/
/* HEADER                                                           */
/*********************************************************************************/
	.container{
		width: 100%;
		max-width: 100%;
	}



	#header {
		position: relative;
		background: url() no-repeat bottom center;
		background-attachment: fixed;
		background-size: cover;
		text-align: left;
	}

		.header	{
	
		background:url('https://png.pngtree.com/thumb_back/fh260/back_pic/00/14/52/9856604197ccc25.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		height: 115px;
		-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
		

	}

/*********************************************************************************/
/* LOGO                                                                         */
/*********************************************************************************/

	#logo{
			
		float: left;
		padding-left: 50px;
		padding-top: 18px;
			
	}
	
		#logo h1{
			color: black;
			font-weight: bold;

	}
	
		#logo a{
			display: block;
			text-decoration: none;
			font-size: 30px;
			color: black;
	}
		#logo a:hover{
			
			color: white;
			transition: .25s
	}

		#logo p{

			color: black;
			font-weight: bold;
			font-size: 20px;
			line-height: 0;

		}


/*********************************************************************************/
/* MENU                                                                   */
/*********************************************************************************/

		#nav-wrapper{
			
			width: 100%;
		}

		#nav > ul{
			
			float: right;
			padding-top: 25px;
		}

		#nav > ul > li{
			
			display: inline-block;
			border-right: 1px solid;
			border-color: black;
		}
		

		#nav > ul > li > a,
		#nav > ul > li > span{
				
			display: inline-block;
			padding: 1.5em 1.5em;
			letter-spacing: 0.06em;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 15px;
			outline: 0;
			color: white;
			font-weight: bold;
			text-shadow: -1px 0 #0e7a0e, 1px 0 #0e7a0e, 0 1px #0e7a0e, 0 -1px #0e7a0e;


		}

		#nav > ul > li > a:hover{

			color:black;
			transition: .25s
			
		}
			
/*********************************************************************************/
/* SLOGAN                                                               */
/*********************************************************************************/

	.slogan{

		width: 100%;
		max-width: 100%;
		height: 500px;

	}

		#nombre_slogan{

			text-align: center;
			padding-top: 100px;
	}
	
		#nombre_slogan h1{

			font-size: 60px;
			color: #FFFFFF; 
			text-shadow: 0px 0px 10px #FF7401;
			background-color: black;
			width: 750px;
			text-align: center;
			margin-left: 300px;
			border-radius: 5%;
			border-style: outset;
		
			
	}

		#nombre_slogan h5{

			color: #FFFFFF; 
			text-shadow: 0px 0px 10px black;
			font-size: 40px;
			line-height: 0;
		
	}


/*********************************************************************************/
/* CUERPO PRINCIPAL - (PREESLOGAN)                                                         */
/*********************************************************************************/

#slogan h1{  

	text-align: center;
	color:#725028;
	text-shadow: 5px 5px 5px #aaa;
	font-family:'Playfair Display', serif;
	padding-top: 50px;

}


#slogan p{

	text-align: center;
	font-weight: bold;
	font-family:'Playfair Display', serif;	
}



/*********************************************************************************/
/* PRESTACIONES                                                       */
/*********************************************************************************/


#prestaciones {

	margin-left: 30px;
}

#prestaciones h3 {

	font-size: 30px;
	text-align: center;
}

#prestaciones i {

	font-size: 20px;
}

#prestaciones p {

	text-align: center;
}

.button.button-primary{

	background-color: grey;
	border-color: black;
	color:white;
	margin-top: 70px;
	margin-left: 100px;


}

.button.button-primary:hover{

	background-color: #FFC989;
	border-color: black;
	transition-duration: .25s;
	
}

.u-full-width{

	padding-top: 200px;

}



#principal-body {
	overflow: auto;
	padding-left: .5em;
	padding-right: .5em;
}

.producto {
	background-color: cyan;
	border: 1px solid black;
	padding-left: .5em;
	padding-right: .5em;
}

.producto > h5 {
	text-align: center;
}

.producto > div {
	margin-left: 0;
	margin-right: 0;
}

.img-producto, .desc-producto {
	margin-left: .5em;
	margin-right: .5em;
}

.img-producto {
	box-sizing: border-box;
	width: 33%; 
}

.img-producto > img {
	width: 100%;
}

.desc-producto {
	text-align: justify;
}


/*********************************************************************************/
/* ABOUT                                                           */
/*********************************************************************************/

	.textoabout{
	margin: 0 auto;
	width: 100%;
	height: 800px;

	}

	.titulo h2{

		text-align: center;
		color:white;
	}




/*********************************************************************************/
/* FOOTER                                                         */
/*********************************************************************************/
.boton-top {
    text-align: center;
    transition: .25s;
}


.gototop{
	display:inline-block;
	width:40px;
	height:40px;
	border:2px solid #746c75;
	text-align: center;
}

.gototop i {
	color:#817a82;
	line-height:35px;
}



#footer
	{
		clear: both;
		text-align: center;
		background:url('https://png.pngtree.com/thumb_back/fh260/back_pic/00/14/52/9856604197ccc25.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 240px;
		-webkit-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
		box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
	}
.container h2{
	font-size: 40px;
	color: white;
}
.container > section > header > span{
	font-size: 25px;
	color: white;
}
.pie > h3{
	color: white;
	font-size: 30px;
	font-weight: bold;
	text-shadow: 0px 0px 10px #FFC469;
}
.pie > p{
	color: white;
	font-weight: bold;
	text-shadow: 0px 0px 10px black;;
}
.pie > p > a{
	color: #2E2EFE;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px 0px 10px #00FF00;
}
.pie{
	padding-top: 50px;
}

.copyright{

	text-align: center;
	padding-top: 80px;
}
/*********************************************************************************/
/* Social Iconos                                                           */
/*********************************************************************************/
	  .contact{
		clear: both;
		padding-top: 50px;
	}

	ul.contact{
		padding: 1.5em 0 0 0;
		list-style: none;
		cursor: default;
	}
	
	ul.contact li
	{
		display: inline-block;
		margin: 0 1em;
	}
	
	ul.contact li a
	{
		color: inherit;
		font-size: 1.75em;
		display: inline-block;
		-moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-ms-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		color: white;
	}

	
	ul.contact li a:hover
	{
		color: #00FFFF;
	}
	ul.contact li a{
		text-decoration: none;
	}
.free{
  border: 0.5px solid #BDBDBD;
  width: 300px;
  margin-right: 20px;
  background-color: #F2F2F2;
  text-align: center;
  }
.pro{
  border: 0.5px solid #BDBDBD;
  width: 300px;
  margin-right: 20px;
  background-color: #F2F2F2;
  text-align: center;
  } 
.copyright{
	font-size: 20px;
	color: white;
}

/*********************************************************************************/
/* MEDIA QUERIES                                                         */
/*********************************************************************************/

/* Larger than mobile */
@media (max-width: 399px) {
	.img-producto {
		width: auto;
	}
}

@media (min-width: 400px) {
	.container {
		width: auto;
	}

	.img-producto {
		margin-right: 1em;
	}
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
	#productos {

	}

	.producto {
		height: 100%;
	}

	.img-producto {
		width: 100%;
	}

	.desc-producto {
		width: 100%;
	}
}

/* Larger than tablet */
@media (min-width: 750px) {

}

/* Larger than desktop */
@media (min-width: 1000px) {

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {

}